In [8]:
import tensorflow
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd
import pickle

In [9]:
# Load trained model, OHE, and scaler
model =load_model('model.h5')

with open('onehot_encoder.pkl', 'rb') as file:
    onehot_encoder = pickle.load(file)

with open('label_encoder.pkl', 'rb') as file:
    label_encoder = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [10]:
# Example Input Data
input_data = { 
    'CreditScore': 600, 
    'Geography': 'France', 
    'Gender': 'Male', 
    'Age': 40, 
    'Tenure': 3, 
    'Balance': 60000, 
    'NumOfProducts': 2, 
    'HasCrCard': 1, 
    'IsActiveMember': 1, 
    'EstimatedSalary': 50000 
    }

In [ ]:
onehot_geo= onehot_encoder.transform([[input_data['Geography']]]).toarray()
onehot_geo = pd.DataFrame(onehot_geo, columns = onehot_encoder.get_feature_names_out(['Geography']))
onehot_geo

c:\Users\Pooja\miniconda3\envs\udemy\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [17]:
input_df = pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [ ]:


input_df['Gender'] = label_encoder.transform(input_df['Gender'])
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [ ]:

data = pd.concat([input_df.drop('Geography', axis=1), onehot_geo], axis=1)
data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [22]:
data = scaler.transform(data)
data

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184]])

In [23]:
# Prediction
prediction = model.predict(data)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step

array([[0.02933309]], dtype=float32)

In [25]:
prediction_result = ("Churn" if prediction > 0.5 else "Not Churn")
prediction_result

'Not Churn'